[submodule "sdql-rs"]
	path = sdql-rs
	url = https://github.com/AtticusKuhn/sdql-rs.git

[submodule "tpch-dbgen"]
	path = tpch-dbgen
	url = https://github.com/electrum/tpch-dbgen

[submodule "sdql_reference/sdql"]
	path = sdql_reference/sdql
	url = https://github.com/edin-dal/sdql.git
