[submodule "lean4nix/lean4-nix"]
	path = lean4nix/lean4-nix
	url = https://github.com/lenianiva/lean4-nix

[submodule "sdql-rs"]
	path = sdql-rs
	url = https://github.com/amascolo/sdql-rs/

[submodule "tpch-dbgen"]
	path = tpch-dbgen
	url = https://github.com/electrum/tpch-dbgen

[submodule "sdql_reference/sdql"]
	path = sdql_reference/sdql
	url = https://github.com/edin-dal/sdql.git
