/.lake
old
AGENTS.md
CLAUDE.md
task.md
task2.md
.claude/
.sdql-test-out/*.bin
.sdql-test-out/*
.sdql-perf-out/*
.sdql-perf-out/*.bin
.sdql-opt-perf-out/*
.sdql-opt-perf-out/*.bin
.sdql-flamegraph-out/*.bin
.sdql-flamegraph-out/*
datasets/.sdql-test-out/
datasets/tpch
result
todos.md
task*.md
dissertation.pdf
