name: SDQL CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Load dev shell
        uses: nicknovitski/nix-develop@v1

      - name: Run test suite
        run: nix run

      - name: Run performance comparison
        run: nix run .#performanceComparison

      - name: Allow performance profiling
        run: |
          sudo sysctl -w kernel.perf_event_paranoid=-1
          sudo sysctl -w kernel.kptr_restrict=0

      - name: Run flamegraph profiler
        run: nix run .#flamegraph

      - name: Run optimisation performance comparison
        run: nix run .#optimisationPerformanceComparison

      - name: Build dissertation
        run: nix run .#buildDissertation
